# Ignore GCP credentials
gerador-xml-dfffc2276183.json
credentials.json

# Ignore all excel files
*.xlsx

# Ignore all csv files
*.csv

# Ignore all xml files
*.xml

# Ignore all Jupyter Notebook files
*.ipynb

# Ignore all Identifier files
*.Identifier

# Ignore ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignore pycache
__pycache__
*.pyc